.lefty{
    width: 0;
	height: 0;
	border-top: 200px solid transparent;
	border-right: 25px solid #555;
    border-bottom: 200px solid transparent;
    margin:10px;
    float:left;
    background-color:rgba(00,0,0,0);
    border-left:0; 
    z-index:10000;
}
.righty{
    width: 0;
	height: 0;
	border-top: 200px solid transparent;
	border-right: 0;
    border-bottom: 200px solid transparent;
    margin:10px;
    float:right;
    background-color:rgba(00,0,0,0);
    border-left:25px solid #555; 
    z-index:10000;
}
.summary{
    border-radius:20px;
    border:solid #FFDE13 20px;
    padding:10px;
    max-width:80%;
    background-image: radial-gradient(  #ffca87,#FFDD24,#FFDE13);
}
.behind{
    float:center;
    overflow:hidden;
}