.form-control{
    margin:10px auto 20px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
label{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
#message{
    height:240px;
}
#thisForm{
    margin:auto;
    width:100%;
    display:inline-flex;
}
#flex{
    display:inline-flex;
    width:100%;
}
.card{
    background-color: orange;
}
.icon{
    cursor: pointer;
    border-radius: 32px;
}