#ProfPic{
    width:300px;
    float:right;
    -webkit-animation: expand 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: expand 1s; /* Firefox < 16 */
     -ms-animation: expand 1s; /* Internet Explorer */
      -o-animation: expand 1s; /* Opera < 12.1 */
         animation: expand 1s;
        border-radius: 20px;
        margin:10px;
}
p{
    font-size: large;
    line-height:20px;
}

@keyframes expand {
    from { width:0;border-radius: 300px;margin:210px; }
    to   { width:300px;border-radius: 20px;margin:10px; }
   }
   
   /* Firefox < 16 */
   @-moz-keyframes expand {
       from { width:0;border-radius: 300px;margin:220px; }
       to   { width:300px;border-radius: 20px;margin:10px; }
   }
   
   /* Safari, Chrome and Opera > 12.1 */
   @-webkit-keyframes expand {
       from { width:0;border-radius: 300px;margin:220px; }
       to   { width:300px;border-raidus: 20px;margin:10px; }
   }
   
   /* Internet Explorer */
   @-ms-keyframes expand {
       from { width:0;border-radius: 300px;margin:220px; }
       to   { width:300px;border-radius: 20px;margin:10px; }
   }
   
   /* Opera < 12.1 */
   @-o-keyframes expand {
       from { width:0;border-radius: 300px;margin:220px; }
       to   { width:300px;border-radius: 20px;margin:10px; }
   }

@media screen and (min-width:1080px) {
    #ProfPic{
        margin-bottom:200px;
        width:400px;
    }
    p{
        font-size:120%;
        line-height: 40px;
        padding: 5px 20px;
        margin:0 20px;
    }
    @keyframes expand {
        from { width:0;border-radius: 400px;margin:210px;margin-bottom: 200px; }
        to   { width:400px;border-radius: 20px;margin:10px;margin-bottom: 200px; }
       }
       
       /* Firefox < 16 */
       @-moz-keyframes expand {
           from { width:0;border-radius: 400px;margin:220px;margin-bottom: 200px; }
           to   { width:400px;border-radius: 20px;margin:10px;margin-bottom: 200px; }
       }
       
       /* Safari, Chrome and Opera > 12.1 */
       @-webkit-keyframes expand {
           from { width:0;border-radius: 400px;margin:220px;margin-bottom: 200px; }
           to   { width:400px;border-raidus: 20px;margin:10px;margin-bottom: 200px; }
       }
       
       /* Internet Explorer */
       @-ms-keyframes expand {
           from { width:0;border-radius: 400px;margin:220px;margin-bottom: 200px; }
           to   { width:400px;border-radius: 20px;margin:10px;margin-bottom: 200px; }
       }
       
       /* Opera < 12.1 */
       @-o-keyframes expand {
           from { width:0;border-radius: 400px;margin:220px;margin-bottom: 200px; }
           to   { width:400px;border-radius: 20px;margin:10px;margin-bottom: 200px; }
       }
       
}


ul li{
    list-style-type:none;
}
